body{
    margin: none !important;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


#canvas{
    padding: none !important;
    margin: none !important;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    /* left: 0; */
    outline: none;
    border: none;
    right: 0;
}
#title{
    position: absolute;
    text-align: center;
    width: 80vw;
    height: 100vh;
    padding: 5% 10vw 0 10vw;
    color: rgb(0, 2, 148);
    font-size: 20px;
    text-shadow: 3px 3px white;
}
.sign{
    position: absolute;
    padding: 10px;
    bottom: 0;
    background-color: white;
    border: black solid 2px;
    z-index: 100;
}

.page{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.contain{
    position: relative;
    color: rgb(255, 255, 255);
    width: 70%;
    font-size: 20px;
    margin: 0 auto 0 auto;
    margin-top: 10%;
    height: 60%;
    text-align: center;
    background-color: rgba(75, 75, 75, 0.685);
    z-index: 2;
    padding: 20px;
    overflow: auto;
}
.button{
    left: 10px;
    color: white;
    transition-duration: 0.5s;
    rotate: 0deg;
    position: absolute;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.button:hover{
    transform: translateX(-5px)
}
.spin{
    rotate: 180deg;
}

/* INTRODUCTION */
#introSlide{
    left: calc(100% - 75px);
    background-color: rgba(0, 0, 0, 0.253);
    transition-duration: 0.5s;
    display: grid;
    align-items: center;    
}

.active{
    left: 0% !important;
    top: 0;
}